    <!-- Nav Categories Bar -->
    <nav class="nav-categories">
      <ul>
        <li><a href="/" data-i18n="nav_home">Home</a></li>
        <li><a href="/delhi">Delhi NCR</a></li>
        <li><a href="/uttar-pradesh">Uttar Pradesh</a></li>
        <li><a href="/punjab">Punjab</a></li>
        <li><a href="/haryana">Haryana</a></li>
        <li><a href="/uttarakhand">Uttarakhand</a></li>
        <li><a href="/business" data-i18n="nav_business">Business</a></li>
        <li><a href="/technology" data-i18n="nav_technology">Tech</a></li>
        <li><a href="/sports" data-i18n="nav_sports">Sports</a></li>
        <li><a href="/opinion" data-i18n="nav_opinion">Opinion</a></li>
        <li><a href="/education" data-i18n="nav_education">Education</a></li>
      </ul>
    </nav>
  </header>
